@CHARSET "UTF-8";
ul {list-style:none;margin:0px;padding:0px;} 
p {margin:0px;padding:0px;}

body{font-size:15px;}
a {text-decoration: none;}
a:hover {color:red;}
.mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #000;
    z-index: 200;
}

.edit{
	background: white;
	border-radius: 5px;
	border: 1px solid #b6c0cd;
}
#text-main
{
	min-height:500px;
	border-bottom: 2px solid #D1D8E1;
}
.main-bg
{
	background: url("/frwk/picture/main-bg.jpg") no-repeat scroll 0px 0px transparent;
}
.middle
{
	height:92px;
}
.main
{
	height: 502px;
	width: 1200px;
	position: relative;
}
.default,.default_pass,.default_area
{
	color:rgb(106,107,106);
}